<div class="h-full w-full bg-auth-page bg-cover grid place-content-center">
  <div class="bg-gray-200 w-96 rounded-xl shadow shadow-black text-black p-4 flex flex-col">
    <p class="prose-2xl w-full text-center">Welcome to ArkQuiz</p>
    <div class="my-5">
      <div class="w-full grid place-content-center">
        <i nz-icon nzType="loading" nzTheme="outline"></i>
      </div>
    </div>
    <div class="grid place-content-center text-gray-700">
      <span>
        <label>Powered by </label><a href="https://www.arkstatic.com" target="_blank"
                                     class="text-blue-600">ArkStatic </a><label>Encenar Platform</label>
      </span>
    </div>
  </div>
</div>
