<div class="overflow-y-scroll h-full no-scrollbar">
  <div class="flex flex-row gap-1 mb-1">
    <input (keyup)="onSearch()" [(ngModel)]="filterString" nz-input placeholder="Search" type="text"
           class="bg-primaryColor">

    <button (click)="fetchData()"
            class="border-none flex flex-row align-middle"
            nz-button nzType="primary">
      <i class="pt-0.5" nz-icon nzType="reload"></i>
      Refresh
    </button>
  </div>
  <div *ngIf="filteredData.length ===0" class="text-center m-5 text-gray-300">
    Not Available
  </div>
  <ng-container *ngFor="let paper of filteredData">
    <app-paper-card [inputValue]="paper" (onDelete)="fetchData()"></app-paper-card>
  </ng-container>
</div>
