<form (ngSubmit)="onSubmit()" [formGroup]="form" class="flex flex-row w-full" nz-form="" *ngIf="!loading">
  <div class="w-full">
    <nz-form-item>
      <nz-form-label class="w-24" nzRequired>Name</nz-form-label>
      <nz-form-control nzErrorTip="Name is Required !">
        <label>
          <input formControlName="name" nz-input placeholder="Name"/>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="w-24" nzRequired>Date of Birth</nz-form-label>
      <nz-form-control nzErrorTip="Date of Birth is Required !">
        <nz-date-picker formControlName="dob" nzMode="date" class="w-full"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="w-24" nzRequired>Gender</nz-form-label>
      <nz-form-control nzErrorTip="Select an Gender !">
        <nz-select formControlName="gender"
                   nzPlaceHolder="Select"
                   nzShowArrow nzShowSearch>
          <nz-option nzLabel="Male" nzValue="M"></nz-option>
          <nz-option nzLabel="Female" nzValue="F"></nz-option>
          <nz-option nzLabel="Other" nzValue="O"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="w-24" nzRequired>Phone</nz-form-label>
      <nz-form-control nzErrorTip="Phone is Required !">
        <label>
          <input formControlName="phone" nz-input placeholder="Phone"/>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="w-24" nzRequired>Address</nz-form-label>
      <nz-form-control nzErrorTip="Address is Required !">
        <label>
          <input formControlName="address" nz-input placeholder="Address"/>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label class="w-24" nzRequired>City</nz-form-label>
      <nz-form-control nzErrorTip="City is Required !">
        <label>
          <input formControlName="city" nz-input placeholder="City"/>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <div class="w-24"></div>
      <nz-form-control>
        <button [disabled]="form.invalid && !inputValue" class="w-full" nz-button nzType="primary" type="submit"
                [nzLoading]="loading">
          Register
        </button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
